:root {
  /* colors */
  --primary-color: rgb(143, 194, 245);
  --secondary-color: rgb(158, 51, 51);
  --active-color: rgb(95, 170, 244);
  --supplementary-color: rgb(248, 92, 92);
  --bg-color: rgb(31, 29, 29);
  --bg-secondary-color: rgb(49, 48, 48);

  /* fonts */
  --title-font: "Frijole", system-ui;
  --std-font: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--std-font);
}

.frijole-regular {
  font-family: "Frijole", system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Main Page */
.home-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  background-image: radial-gradient(circle at center, transparent 0%, transparent 10%, rgba(0, 0, 0, 0.7) 35%, rgba(0, 0, 0, 1) 100%), url('../src/images/dart-image.png');
  background-size: 150% 110%;
  background-position: -24ch -2ch;
  background-repeat: no-repeat;
  position: relative;
}

.title-container {
  height: 26%;
  width: 100vw;
  padding: 10px 0 10px 0;
  color: var(--primary-color);
  box-sizing: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title {
  margin-top: 16px;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 6.5vh;
  transform: scaleY(1.9);
  text-shadow: 0 0 35px red;
}

.developer {
  margin-top: 5px;
  font-size: 2vh;
}

.caption {
  font-size: 5vh;
  font-weight: bold;
  transform: scaleX(0.95);
}

.main-btn-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  /* margin-top: 30px; */
}

.btn {
  width: 60vw;
  height: 60px;
  font-family: var(--title-font);
  font-size: 2.6vh;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  background-image: linear-gradient(55deg, var(--bg-color) 0%, var(--active-color) 10%, var(--bg-color) 25%, var(--active-color) 80%, var(--bg-color) 100%);
  color: var(--supplementary-color);
  box-shadow: 0 0 20px 10px rgb(142, 142, 142);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  z-index: 5;
}

.btn:hover {
  transform: scale(0.8);
  background-color: var(--active-color);
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  font-family: var(--std-font);
  width: 100%;
  height: 50px;
  display: flex;
  color: var(--supplementary-color);
  justify-content: center;
}

.rocket-icon {
  font-size: 20px;
  margin-right: 4px;
}

/* Play-Page */
.play-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--bg-color);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--supplementary-color);
  font-size: 4vw;
  z-index: -1;
}

.add-player-title {
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 4vw;
  transform: scaleX(1.3);
}

.add-players-container {
  padding: 10px;
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.player-input-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.add-player-input {
  height: 40px;
  width: 240px;
  padding: 0 20px;
}

.add-player-input[type="text"] {
  font-size: 22px;
}

.add-player-input::placeholder {
  font-size: 18px;
}

.add-player-btn {
  width: 100px;
  height: 40px;
  font-size: 22px;
  margin-top: 2px;
  cursor: pointer;
}

/* for all the players container */
.players-name-container {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  background-color: var(--bg-secondary-color);
  width: 100%;
  border-radius: 20px;
  border: 2px solid var(--primary-color);
}

/* for each player container */
.player-name-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 2.8vw;
}

.player-name-container > span:first-child {
  color: var(--supplementary-color);
}

.delete-icon {
  font-size: 4vw;
  font-weight: 100;
  width: 30px;
  height: 30px;
  color: var(--secondary-color);
}

.game-range-container {
  margin: 20px;
  font-size: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.game-range-title {
  font-weight: 600;
  transform: scaleX(1.3);
  font-family: var(--title-font);
}

.game-range-caption {
  font-size: 2.6vw;
  color: var(--primary-color);
}

.range-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 2.8vw;
  gap: 50px;
}

.target-range-input[type='radio'] {
  margin-right: 10px;
  /* font-size: 0px; */
}

.custom-range-container {
  background-color: var(--bg-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  width: 460px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
}

.custom-range-input-container {
  display: flex;
  color: var(--active-color);
  gap: 14px;
}

.custom-range-input-container > div:last-child {
  color: var(--supplementary-color);
}

.custom-range-value {
  font-size: 2.8vw;
  font-weight: 800;
  color: var(--primary-color);
}

.custom-range-min-max-value {
  font-size: 2.8vw;
}

.custom-range-input[type='range'] {
  width: 340px;
}

.play-page-done-btns-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 150px;
  gap: 20px;
}

/* for how to play and the board pages */
.how-to-play-container, .the-board-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg-color);
}

.how-to-play-title-container, .the-board-page-title-container {
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font);
  color: var(--supplementary-color);
  gap: 14px;
}

.how-to-play-title, .the-board-title {
  margin-top: 30px;
  font-size: 3.8vw;
  transform: scaleY(1.8);
}


.how-to-play-details-container, .the-board-page-description-container {
  margin-top: 20px;
  width: 75%;
  height: 54%;
  padding: 3% 5% 5%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--bg-secondary-color);
  border: 10px ridge var(--supplementary-color);
}

.how-to-play-details-container > div, .the-board-page-description-container > div {
  align-self: flex-start;
  color: var(--primary-color);
  font-size: 3.2vw;
  font-weight: 800;
}

.how-to-play-page-description-title > .how-to-play-objective {
  padding: 0 0 20px 0;
}

.how-to-play-page-description-title > p:last-child, .the-board-page-description-title > p:last-child {
  padding: 0 0 20px 30px;
}



.how-to-play-page-description-title > p, .the-board-page-description-title > p {
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin: 8px 0 2px 60px ;
}

.indent {
  padding-left: 30px;
}

.how-to-play-btn-container, .the-board-btn-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 18px;
  padding: 2% 10%;
}

.how-to-play-btn-container > .btn, .the-board-btn-container > .btn {
  width: 90%;
  height: 18px;
  font-size: 18px;
  padding: 20px;
  box-shadow: 0 0 12px lightgray;
}