:root {
  /* colors */
  --primary-color: rgb(143, 194, 245);
  --secondary-color: rgb(247, 239, 230);
  --tertiary-color: rgb(158, 51, 51);
  --active-color: rgb(95, 170, 244);
  --supplementary-color: rgb(248, 92, 92);
  --bg-color: rgb(31, 29, 29);
  --bg-secondary-color: rgb(75, 74, 74);

  /* fonts */
  --title-font: "Frijole", system-ui;
  --std-font: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--std-font);
}

.frijole-regular {
  font-family: "Frijole", system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Main Page */
.home-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(circle at 35% 70%, transparent 0%, transparent 4%, rgba(0, 0, 0, 0.8) 35%, rgba(0, 0, 0, 1) 100%), url('../src/assets/images/dart-image.png');
  background-size: 150% 110%;
  background-position: -24ch -2ch;
  background-repeat: no-repeat;
  position: relative;
}

.title-container {
  height: 25%;
  width: 100vw;
  color: var(--secondary-color);
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-wrapper, .developer-wrapper, .caption-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  /* width: clamp(300px, 5vw, 600px); */
  font-family: var(--title-font);
  font-size: clamp(1.8rem, 5vw, 3.6rem);
  text-align: center;
  white-space: nowrap;
  transform: scaleY(2);
  text-shadow: 0 0 40px var(--supplementary-color);
}

.caption-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
  padding-top: 1%;
}

.developer, .caption {
  font-family: var(--title-font);
}

.developer {
  margin-top: 5px;
  font-size: 1.8vh;
}

.caption {
  font-size: clamp(0.8rem, 2.4vw, 2rem);
  transform: scale(0.9, 2);
}

.main-btn-container {
  height: 35%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
  align-items: center;
  /* margin-top: 30px; */
}

.btn {
  width: 50vw;
  height: 60px;
  font-family: var(--title-font);
  font-size: clamp(0.85rem, 3.6vw, 1.6rem);
  font-weight: 900;
  padding: 1% 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  background-image: linear-gradient(55deg, var(--bg-color) 0%, var(--active-color) 10%, var(--bg-color) 25%, var(--bg-color) 70%, var(--active-color) 80%, var(--bg-color) 100%);
  color: var(--secondary-color);
  box-shadow: 0 0 30px 0px var(--secondary-color);
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  z-index: 5;
}

.btn:hover {
  transform: scale(1.08);
  background-color: var(--active-color);
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  font-family: var(--std-font);
  width: 100%;
  height: 50px;
  display: flex;
  color: var(--secondary-color);
  justify-content: center;
  text-shadow: 0 0 20px black;
}

.rocket-icon {
  font-size: 20px;
  margin-right: 4px;
}

/* PLAY PAGE */
.play-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--bg-color);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--supplementary-color);
  font-size: 4vw;
  z-index: -1;
}

.play-page-container > .title-container {
  height: 20%;
  padding-top: 10px;
}

.add-player-title, .game-range-title {
  margin-top: 20px;
  font-family: var(--title-font);
  font-weight: 600;
  font-size: clamp(1.1rem, 1.6vw, 1.3rem);
  transform: scale(1.2, 1.4);
}

.add-players-container {
  padding: 10px;
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.player-input-container {
  display: flex;
  height: 30px;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.add-player-input {
  height: auto;
  width: 40%;
  padding: 0 20px;
}

.add-player-input[type="text"] {
  font-size: 0.95rem;
}

.add-player-input::placeholder {
  font-size: 0.9rem;
}

.add-player-btn {
  color: yellow;
  width: 100px;
  height: auto;
  font-size: clamp(1rem, 16px, 18px);
  margin-top: 2px;
  cursor: pointer;
}

/* for all the players container */
.players-name-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  background-color: var(--bg-secondary-color);
  width: clamp(300px, 60%, 80%);
  border-radius: 20px;
  border: 1px solid var(--primary-color);
}

/* for each player container */
.player-name-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(0.9rem, 1.2vw, 1.6rem);
}

.player-name-container > span:first-child {
  color: var(--secondary-color);
}

.delete-icon {
  font-size: clamp(1.4rem, 1vw, 1.4vw);
  font-weight: 300;
  width: 30px;
  height: 30px;
  color: var(--supplementary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-range-container {
  margin: 10px;
  width: clamp(300px, 100%, 600px);
  font-size: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.game-range-caption {
  font-size: clamp(0.9rem, 1.6vw, 1.2rem);
  color: var(--primary-color);
}

.range-container {
  color: var(--secondary-color);
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: clamp(20px, 2vw, 50px);
  font-size: clamp(1.1rem, 1.6vw, 1.2rem);
  width: clamp(320px, 100%, 500px);
}

.target-range-input[type='radio'] {
  margin-right: 10px;
}

label {
  font-size: clamp(0.7rem, 2vw, 1rem);
  transition: transform 0.1s;
}

label:hover {
  transform: scale(1.1);
}

.custom-range-container {
  background-color: var(--bg-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  width: clamp(240px, 90%, 500px);
  border-radius: 10px;
  border: 2px solid var(--primary-color);
}

.custom-range-input-container {
  display: flex;
  width: 80%;
  color: var(--active-color);
  gap: 14px;
}

.custom-range-input-container > div:last-child {
  color: var(--supplementary-color);
}

.custom-range-value {
  font-size: clamp(0.85rem, 1.4vw, 1.8vw);
  font-weight: 800;
  color: var(--primary-color);
}

.custom-range-min-max-value {
  font-size: clamp(0.85rem, 1.4vw, 1.8vw);
}

.custom-range-input[type='range'] {
  width: 100%;
}

.play-page-done-btns-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(250px, 4vw, 300px);
  bottom: 100px;
  gap: 10px;
}

.add-player-start-btn, .back-to-main-btn {
  font-size: clamp(1rem, 2vw, 1.8rem);
  padding: 1% 2%;
  height: 4vh;
  width: clamp(160px, 70%, 300px);
}

/* HOW-TO-PLAY and THE-BOARD PAGES */
.how-to-play-container, .the-board-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg-color);
}

.how-to-play-title-container, .the-board-page-title-container {
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font);
  color: var(--secondary-color);
  gap: 20px;
}

.how-to-play-title, .the-board-title {
  margin-top: 30px;
  font-size: clamp(1.2rem, 3.6vw, 3rem);
  transform: scaleY(1.8);
}

.the-board-title {
  font-size: clamp(0.85rem, 3.6vw, 3rem);
}

.how-to-play-caption-wrapper, .the-board-caption-wrapper {
  height: 40px;
}

.how-to-play-caption, .the-board-caption {
  transform: scaleY(2);
  font-size: clamp(0.5rem, 1.4vw, 1rem);
}

.the-board-caption {
  font-size: clamp(0.7rem, 1.4vw, 2rem);
}

.how-to-play-details-container, .the-board-page-description-container {
  margin-top: 20px;
  width: clamp(240px, 55%, 640px);
  height: clamp(46%, 47%, 48%);
  padding: 3% 5% 5%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--bg-secondary-color);
  border: 10px ridge var(--supplementary-color);
}

.how-to-play-details-container > div, .the-board-page-description-container > div {
  align-self: flex-start;
  color: var(--primary-color);
}

.how-to-play-page-description-title, .the-board-page-description-title {
  font-size: clamp(1rem, 2.2vw, 1.4rem);
  font-weight: 800;
}

.how-to-play-page-description-title > p:last-child, .the-board-page-description-title > p:last-child {
  padding-bottom: 20px;
}

.how-to-play-page-description-title > p, .the-board-page-description-title > p {
  font-size: clamp(0.85rem, 1.6vw, 1.1rem);
  font-weight: 400;
  color: white;
  margin: 8px 0 2px 24px ;
}

.indent {
  padding-left: 14px;
}


.how-to-play-btn-container, .the-board-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 16vh;
  gap: 12px;
}

.how-to-play-btn-container > .btn, .the-board-btn-container > .btn {
  width: clamp(180, 40%, 350px);
  height: 18px;
  font-size: 1rem;
  padding: 12px 5px;
  box-shadow: 0 0 12px lightgray;
}

/* START GAME PAGE */
.game-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  font-family: var(--title-font);
  align-items: center;
}

.game-title-container {
  width: 100%;
  height: 140px;
  font-family: var(--title-font);
}

.game-title-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2% 0; */
}

.game-title {
  font-size: clamp(0.9rem, 4vw, 2.4rem);
  color: var(--secondary-color);
  transform: scaleY(2.8);
  transform-origin: center;
  padding: 1.5% 0 1.5% 0;
}

.scoreboard-target-players-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--secondary-color);
  width: 100%;
  height: 80px;
}

.scoreboard-target-wrapper, .scoreboard-players-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scoreboard-target-wrapper {
  border-right: 3px double var(--bg-color);
  width: 20%;
}

.scoreboard-players-name-container {
  width: 80%;
}

.scoreboard-player-name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-left: 3px solid var(--bg-color);
}

.scoreboard-target-title, .scoreboard-player-name-title {
  font-size: clamp(0.7rem, 3vw, 2rem);
  transform: scaleY(2.4);
}

.scoreboard-target-title {
  color: var(--supplementary-color);
}

.scoreboard-players-name-container {
  height: 100%;
  width: 80%;
  color: var(--bg-color);
}

.scoreboard-one-player-name-container {
  width: 100%;
}

.scoreboard-two-players-name-container {
  width: 50%;
}

.scoreboard-three-players-name-container {
  width: 33.333%;
}

.scoreboard-four-players-name-container {
  width: 25%;
}

.target-score-area-container {
  position: relative;
  width: 100%;
  height: 53%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--bg-secondary-color);
}

.target-score-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.target-container {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font);
  font-size: clamp(1.2rem, 3.8vw, 5rem);
  color: var(--active-color);
  border-right: 3px double var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
}

.player-score-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  display: relative;
}

.player-score-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.player-score-row-one-player {
  width: 100%;
}

.player-score-row-two-players {
  width: 50%;
}

.player-score-row-three-players {
  width: 33.33%;
}

.player-score-row-four-players {
  width: 25%;
}

.score-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.score-container:not(:first-child) {
  border-left: 5px solid var(--secondary-color);
}

.target-score-container:last-child {
  border-bottom: 5px solid var(--secondary-color);
}

.score {
  font-size: clamp(0.6rem, 3vw, 3rem);
  transform: scale(3.5, 1.2);
  transition: transform 0.2s;
}

.score:hover {
  transform: scale(3.8, 1.5);
}

.player-score-choices-wrapper {
  position: absolute;
  top: 40%;
  /* border: 5px solid var(--supplementary-color); */
  border-radius: 30px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(240px, 60%, 700px);
  color: var(--supplementary-color);
  transform: scaleY(2);
  padding: 10px;
}

.player-score-choices-caption {
  font-size: clamp(1.2rem, 4vw, 2rem);
  transform: scaleX(1.4);
}

.player-score-choices-container {
  padding: 3%;
  top: 70%;
  height: 50px;
  width: 90%;
  color: var(--bg-secondary-color);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  align-items: center;
}

.player-score {
  font-size: clamp(1.4rem, 5vw, 2.4rem);
  color: var(--scoreboard-bg-color);
  cursor: pointer;
  transform: scale(4.5, 1.6);
  transition: transform 0.2s;
}

.player-score:hover {
  transform: scale(4.8, 1.8);
}

.player-score-choices-cancel-btn {
  background-color: var(--supplementary-color);
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  margin-top: 10px;
  padding: 1% 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.player-score-choices-cancel-btn:hover {
  transform: scale(1.05);
}
.start-game-page-quit-btn {
  position: absolute;
  bottom: 100px;
  width: clamp(160px, 20%, 40%);
  transition: transform 0.1s;
  cursor: pointer;
}

.start-game-page-quit-btn:hover {
  transform: scale(1.08);
}

.winner-container {
  position: absolute;
  top: 5%;
  left: calc((100% - clamp(280px, 80%, 700px))/2);
  background-color: rgba(0, 0, 0, 0.9);
  border: 10px solid var(--active-color);
  border-radius: 20px;
  width: clamp(280px, 80%, 700px);
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  box-sizing: border-box;
}

.winner-caption-container {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3% 3% 0 3%;
  gap: 40px;
}

.winner-caption {
  font-size: clamp(1rem, 3vw, 2rem);
  transform: scaleY(2.4);
  color: var(--supplementary-color);
}

.winner-trophy-player-container {
  width: 100%;
  display: flex;
  height: 240px;
  background-image: linear-gradient(var(--bg-color) 0%, white 50%, var(--bg-color) 100%);
  padding: 0 2%;
  box-sizing: border-box;
}

.trophy-container {
  height: 100%;
  width: 35%;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
}

.trophy {
  width: clamp(130px, 90%, 240px);
  height: clamp(130px, 180px, 240px);
}

.winner-player-container {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.winner {
  font-size: clamp(1.7rem, 6vw, 3.6rem);
  color: var(--bg-color);
  transform: scaleY(3);
}

.winner-btn-container {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
  box-sizing: border-box;
}

.winner-btn {
  font-size: clamp(0.6rem, 2vw, 1rem);
  width: clamp(200px, 80%, 400px);
  color: var(--bg-color);
  transform: scaleY(1.5);
  background-color: var(--active-color);
  /* padding: 1.5%; */
  cursor: pointer;
  transition: transform 0.2s;
  padding: 3px 5px;
}

.winner-btn:hover {
  transform: scale(1.1);
}

.set-point-container {
  position: absolute;
  bottom: 17%;
  width: 100%;
  height: 10%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.set-point-caption {
  font-size: clamp(1rem, 4vw, 1.6rem);
  color: var(--supplementary-color);
}

.set-point-score-container {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.set-point-player-score-container {
  font-size: clamp(1.1rem, 3.5vw, 1.8rem);
  color: var(--bg-color);
}

/* responsive */

@media screen and (min-width: 320px) and (max-width: 480px) {
  .home-page {
    height: 100dvh;
    width: 100dvw;
    background-position: -10ch -2ch;
  }

  .footer {
    height: 30px;
    font-size: 0.7rem;
  }

  .rocket-icon {
    font-size: 0.9rem;
  }

  .main-btn-container {
    height: 40%;
    justify-content: flex-end;
    gap: 20px;
  }

  .how-to-play-btn-container, .the-board-btn-container {
    margin-top: 24px;
    height: 14%;
    gap: 8px;
  }

   .add-player-title {
    margin-top: 6px;
  }

  .add-players-container {
    padding: 4px;
    gap: 0px;
  }

  .game-range-title {
    margin-top: 4px;
  }

  .range-container {
    justify-content: center;
    gap: 16px;
  }

  .custom-range-container {
    width: 260px;
  }

  .range-container {
    margin-top: 2px;
  }

  .play-page-done-btns-container {
    bottom: 80px;
  }
  .how-to-play-btn-container > .btn, .the-board-btn-container > .btn {
    font-size: 0.9rem;
    padding: 14px 4px;
  }

  .game-title-container {
    height: 80px;
  }

  .player-score-choices-wrapper {
    top: 240px;
    border: 1px solid var(--active-color);
  }

  .player-score-choices-caption {
    font-size: 1rem;
  }

  .player-score-choices-container {
    height: 30px;
    border: 1px solid var(--supplementary-color);
  }

  .player-score-choices-cancel-btn {
    margin-top: 6px;
    font-size: 0.8rem;
  }

  .winner-container {
    border: 2px solid var(--active-color);
    box-sizing: border-box;
  }

  .winner-caption-container {
    padding: 5%;
    gap: 20px;
  }

  .winner-btn-container {
    gap: 18px;
  }

  .winner-btn {
    width: 200px;
    font-size: 0.6rem;
    padding: 2px 3px;
  }

  .set-point-container {
    height: 9%;
    bottom: 126px;
  }

  .set-point-player-score-container {
  font-size: 0.9rem;
}

  .start-game-page-quit-btn {
    bottom: 60px;
    height: 46px;
  }
}


@media screen and (min-width: 1000px) {
  /* main page */
  .home-page {
    background-image: radial-gradient(circle at 40% 83%, transparent 0%, transparent 3%, rgba(0, 0, 0, 0.8) 35%,  rgba(0, 0, 0, 0.95) 45%,   rgba(0, 0, 0, 1) 100%), url('../src/assets/images/dart-image.png');
    background-size: 110%;
    background-position: 0;
  }

  /* .title {
    font-size: clamp(4rem, 5vw, 4.6rem);
  } */

  .caption {
    font-size: clamp(1.3vw, 1.4vw, 1.5vw);
  }

  .main-btn-container {
    height: 50%;
  }

  .btn {
    width: 500px;
  }


  /* how-to-play and the-board pages */
  .how-to-play-details-container, .the-board-page-description-container {
    margin-top: 40px;
  }

  .how-to-play-btn-container, .the-board-btn-container {
    gap: 10px;
  }

  /* add-player page */
  .title-container > .caption-wrapper > .caption {
    font-weight: clamp(2rem, 2.2rem, 3vw);
  }
  .add-player-btn.add-player-btn {
    width: 100px;
  }

  .add-player-title {
    margin-top: 40px;
  }

  .play-page-done-btns-container{
    bottom: 120px;
  }

  .add-player-start-btn, .back-to-main-btn {
    width: 100%;
  } 

  
}