:root {
  /* colors */
  --primary-color: rgb(143, 194, 245);
  --secondary-color: rgb(247, 239, 230);
  --tertiary-color: rgb(158, 51, 51);
  --active-color: rgb(95, 170, 244);
  --supplementary-color: rgb(248, 92, 92);
  --bg-color: rgb(31, 29, 29);
  --bg-secondary-color: rgb(75, 74, 74);

  /* fonts */
  --title-font: "Frijole", system-ui;
  --std-font: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--std-font);
}

.frijole-regular {
  font-family: "Frijole", system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Main Page */
.home-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  background-image: radial-gradient(circle at 35% 70%, transparent 0%, transparent 4%, rgba(0, 0, 0, 0.8) 35%, rgba(0, 0, 0, 1) 100%), url('../src/assets/images/dart-image.png');
  background-size: 150% 110%;
  background-position: -24ch -2ch;
  background-repeat: no-repeat;
  position: relative;
}

.title-container {
  height: 26%;
  width: 100vw;
  padding: 40px 0 10px 0;
  color: var(--secondary-color);
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-wrapper, .developer-wrapper, .caption-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  width: 80vw;
  margin-top: 16px;
  font-family: var(--title-font);
  font-size: clamp(1rem, 7vw, 8vw);
  text-align: center;
  white-space: nowrap;
  transform: scaleY(2);
  text-shadow: 0 0 40px var(--supplementary-color);
}

.caption-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
  padding-top: 1%;
}

.developer, .caption {
  font-family: var(--title-font);
}

.developer {
  margin-top: 5px;
  font-size: 1.8vh;
}

.caption {
  font-size: clamp(2vw, 2.4vw, 3vw);
  transform: scale(0.9, 2);
}

.main-btn-container {
  height: 35%;
  display: flex;
  flex-direction: column;
  gap: clamp(30px, 35px, 40px);
  justify-content: center;
  align-items: center;
  /* margin-top: 30px; */
}

.btn {
  width: 50vw;
  height: 60px;
  font-family: var(--title-font);
  font-size: clamp(1.6rem, 2.4vw, 2rem);
  font-weight: 900;
  padding: 1% 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  background-image: linear-gradient(55deg, var(--bg-color) 0%, var(--active-color) 10%, var(--bg-color) 25%, var(--bg-color) 70%, var(--active-color) 80%, var(--bg-color) 100%);
  color: var(--secondary-color);
  box-shadow: 0 0 30px 0px var(--secondary-color);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  z-index: 5;
}

.btn:hover {
  transform: scale(0.8);
  background-color: var(--active-color);
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  font-family: var(--std-font);
  width: 100%;
  height: 50px;
  display: flex;
  color: var(--secondary-color);
  justify-content: center;
}

.rocket-icon {
  font-size: 20px;
  margin-right: 4px;
}

/* PLAY PAGE */
.play-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--bg-color);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--supplementary-color);
  font-size: 4vw;
  z-index: -1;
}

.play-page-container > .title-container {
  height: 20%;
  padding-top: 10px;
}

.add-player-title, .game-range-title {
  margin-top: 20px;
  font-family: var(--title-font);
  font-weight: 600;
  font-size: clamp(1.1rem, 2vw, 2.2vw);
  transform: scale(1.2, 1.4);
}

.add-players-container {
  padding: 10px;
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.player-input-container {
  display: flex;
  height: 30px;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.add-player-input {
  height: auto;
  width: 30vw;
  padding: 0 20px;
}

.add-player-input[type="text"] {
  font-size: 18px;
}

.add-player-input::placeholder {
  font-size: 0.9rem;
}

.add-player-btn {
  color: yellow;
  width: 100px;
  height: auto;
  font-size: clamp(1rem, 16px, 18px);
  margin-top: 2px;
  cursor: pointer;
}

/* for all the players container */
.players-name-container {
  margin-top: 10px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  background-color: var(--bg-secondary-color);
  width: clamp(300px, 60%, 80%);
  border-radius: 20px;
  border: 2px solid var(--primary-color);
}

/* for each player container */
.player-name-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: clamp(1rem, 1.2vw, 1.8rem);
}

.player-name-container > span:first-child {
  color: var(--secondary-color);
}

.delete-icon {
  font-size: clamp(1.4rem, 1vw, 1.4vw);
  font-weight: 300;
  width: 30px;
  height: 30px;
  color: var(--supplementary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-range-container {
  margin: 10px;
  font-size: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.game-range-caption {
  font-size: clamp(1.2rem, 1.6vw, 2vw);
  color: var(--primary-color);
}

.range-container {
  color: var(--secondary-color);
  margin-top: 10px;
  display: flex;
  align-items: center;
    font-size: clamp(1rem, 1.6vw, 2vw);
  gap: 50px;
}

.target-range-input[type='radio'] {
  margin-right: 10px;
}

.custom-range-container {
  background-color: var(--bg-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  width: clamp(300px, 360px, 400px);
  border-radius: 10px;
  border: 2px solid var(--primary-color);
}

.custom-range-input-container {
  display: flex;
  width: 80%;
  color: var(--active-color);
  gap: 14px;
}

.custom-range-input-container > div:last-child {
  color: var(--supplementary-color);
}

.custom-range-value {
  font-size: clamp(1rem, 1.4vw, 1.8vw);
  font-weight: 800;
  color: var(--primary-color);
}

.custom-range-min-max-value {
  font-size: clamp(1rem, 1.4vw, 1.8vw);
}

.custom-range-input[type='range'] {
  width: 100%;
}

.play-page-done-btns-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 150px;
  gap: 10px;
}

.add-player-start-btn, .back-to-main-btn {
  font-size: clamp(1rem, 1.2rem, 1.8rem);
  padding: 1% 3%;
  height: 4vh;
  width: clamp(200px, 240px, 300px);
}

/* HOW-TO-PLAY and THE-BOARD PAGES */
.how-to-play-container, .the-board-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg-color);
}

.how-to-play-title-container, .the-board-page-title-container {
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font);
  color: var(--secondary-color);
  gap: 20px;
}

.how-to-play-title, .the-board-title {
  margin-top: 30px;
  font-size: 3.6vw;
  transform: scaleY(1.8);
}

.how-to-play-caption-wrapper, .the-board-caption-wrapper {
  height: 40px;
}

.how-to-play-caption, .the-board-caption {
  transform: scaleY(2);
  font-size: 1.6vw;
}

.how-to-play-details-container, .the-board-page-description-container {
  margin-top: 20px;
  width: 75%;
  height: 54%;
  padding: 3% 5% 5%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--bg-secondary-color);
  border: 10px ridge var(--supplementary-color);
}

.how-to-play-details-container > div, .the-board-page-description-container > div {
  align-self: flex-start;
  color: var(--primary-color);
  font-size: clamp(1.4rem, 2.4vw, 2.5vw);
  font-weight: 800;
}

.how-to-play-page-description-title > .how-to-play-objective {
  padding: 0 0 20px 0;
}

.how-to-play-page-description-title > p:last-child, .the-board-page-description-title > p:last-child {
  padding: 0 0 20px 30px;
}



.how-to-play-page-description-title > p, .the-board-page-description-title > p {
  font-size: clamp(1rem, 2.4vw, 2.6vw);
  font-weight: 400;
  color: white;
  margin: 8px 0 2px 60px ;
}

.indent {
  padding-left: 30px;
}

.how-to-play-btn-container, .the-board-btn-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  gap: 12px;
  padding: 1% 4%;
}

.how-to-play-btn-container > .btn, .the-board-btn-container > .btn {
  width: 300px;
  height: 18px;
  font-size: 1rem;
  padding: 16px 5px;
  box-shadow: 0 0 12px lightgray;
}

/* START GAME PAGE */
.game-container {
  width: 100vw;
  height: 100vh;
}

.game-main-container {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  font-family: var(--title-font);
  align-items: center;
  position: relative;
}

.game-title-container {
  width: 100%;
  height: 140px;
  font-family: var(--title-font);
}

.game-title-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2% 0; */
}

.game-title {
  font-size: clamp(1rem, 4vw, 2.4rem);
  color: var(--secondary-color);
  transform: scaleY(2.8);
  transform-origin: center;
  padding: 1.5% 0 1.5% 0;
}

.scoreboard-target-players-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--secondary-color);
  width: 100%;
  height: 80px;
}

.scoreboard-target-wrapper, .scoreboard-players-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scoreboard-target-wrapper {
  border-right: 3px double var(--bg-color);
  width: 20%;
}

.scoreboard-players-name-container {
  width: 80%;
}

.scoreboard-player-name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-left: 3px solid var(--bg-color);
}

.scoreboard-target-title, .scoreboard-player-name-title {
  font-size: clamp(0.7rem, 3vw, 2rem);
  transform: scaleY(2.4);
}

.scoreboard-target-title {
  color: var(--supplementary-color);
}

.scoreboard-players-name-container {
  height: 100%;
  width: 80%;
  color: var(--bg-color);
}

.scoreboard-one-player-name-container {
  width: 100%;
}

.scoreboard-two-players-name-container {
  width: 50%;
}

.scoreboard-three-players-name-container {
  width: 33.333%;
}

.scoreboard-four-players-name-container {
  width: 25%;
}

.target-score-area-container {
  position: relative;
  width: 100%;
  height: 53%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--bg-secondary-color);
}

.target-score-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.target-container {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font);
  font-size: clamp(1.4rem, 3.8vw, 5rem);
  color: var(--active-color);
  border-right: 3px double var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
}

.player-score-container {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 80%;
  display: relative;
}

.player-score-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.player-score-row-one-player {
  width: 100%;
}

.player-score-row-two-players {
  width: 50%;
}

.player-score-row-three-players {
  width: 33.33%;
}

.player-score-row-four-players {
  width: 25%;
}

.score-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.score-container:not(:first-child) {
  border-left: 5px solid var(--secondary-color);
}

.target-score-container:last-child {
  border-bottom: 5px solid var(--secondary-color);
}

.score {
  font-size: clamp(1.6rem, 4vw, 5vw);
  transform: scaleX(2);
}

.player-score-choices-wrapper {
  position: absolute;
  bottom: 500px;
  /* border: 5px solid var(--supplementary-color); */
  border-radius: 30px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  font-size: 3vw;
  color: var(--supplementary-color);
  transform: scaleY(2);
  padding: 10px;
}

.player-score-choices-caption {
  font-size: 4vw;
  transform: scaleX(1.4);
}

.player-score-choices-container {
  font-size: 5vw;
  padding: 3%;
  top: 70%;
  height: 50px;
  width: 90%;
  color: var(--bg-secondary-color);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  align-items: center;
}

.player-score {
  color: var(--scoreboard-bg-color);
  cursor: pointer;
  transform: scaleX(3);
}

.player-score:hover {
  transform: scale(1.3);
}

.player-score-choices-cancel-btn {
  background-color: var(--supplementary-color);
  font-size: 2.5vw;
  margin-top: 10px;
  padding: 1% 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-game-page-quit-btn {
  position: absolute;
  bottom: 100px;
  width: clamp(300px, 20%, 40%);
}

.winner-container {
  position: absolute;
  top: 15%;
  left: calc((100vw - 300px)/2);
  background-color: rgba(0, 0, 0, 0.85);
  border: 10px solid var(--supplementary-color);
  border-radius: 20px;
  width: clamp(300px, 80%, 60vw);
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.winner-caption-container {
  height: clamp(40%, 50%, 60%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5% 3%;
  gap: 60px;
}

.winner-caption {
  font-size: clamp(1.2rem, 3vw, 3rem);
  transform: scaleY(2.4);
  color: var(--secondary-color);
}

.winner-trophy-player-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 240px;
  background-image: linear-gradient(var(--bg-color) 0%, white 50%, var(--bg-color) 100%);
  padding: 0 2%;
  box-sizing: border-box;
}

.trophy-container {
  height: 100%;
  width: 35%;
}

.trophy {
  width: 100%;
  height: 100%;
}

.winner-player-container {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner {
  font-size: clamp(1.2rem, 90%, 90%);
  color: var(--bg-color);
  transform: scaleY(3);
}

.winner-btn-container {
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.winner-btn {
  font-size: 2vw;
  color: var(--bg-color);
  transform: scaleY(1.5);
  background-color: var(--supplementary-color);
  padding: 1.5%;
}

.set-point-container {
  position: absolute;
  bottom: 15%;
  width: 100%;
  height: 10%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.set-point-caption {
  font-size: 4vw;
  color: var(--supplementary-color);
}

.set-point-score-container {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.set-point-player-score-container {
  font-size: 3.5vw;
  color: var(--bg-color);
}

/* responsive */
@media screen and (min-width: 1000px) {
  /* main page */
  .home-page {
    background-image: radial-gradient(circle at 40% 83%, transparent 0%, transparent 3%, rgba(0, 0, 0, 0.8) 35%,  rgba(0, 0, 0, 0.95) 45%,   rgba(0, 0, 0, 1) 100%), url('../src/assets/images/dart-image.png');
    background-size: 110%;
    background-position: 0;
  }

  .title {
    font-size: clamp(4rem, 5vw, 6vw);
  }

  .caption {
    font-size: clamp(1.3vw, 1.4vw, 1.5vw);
  }

  .main-btn-container {
    height: 50%;
  }

  .btn {
    width: 500px;
  }


  /* how-to-play and the-board pages */
  .how-to-play-details-container, .the-board-page-description-container {
    width: 65%;
    height: clamp(46%, 47%, 48%);
    margin-top: 40px;
  }

  .how-to-play-title, .the-board-title {
    font-size: 3vw;
  }

  /* .how-to-play-details-container > div, .the-board-page-description-container > div {
    font-size: 2.2vw;
  } */

  .how-to-play-page-description-title.how-to-play-page-description-title, .the-board-page-description-title.the-board-page-description-title {
    font-size: clamp(1.2rem, 2vw, 2.2vw);
  }

  .how-to-play-page-description-title > p, .the-board-page-description-title > p {
    font-size: 1.4vw;
  }

  .how-to-play-btn-container, .the-board-btn-container {
    gap: 10px;
    margin-top: 4px;
  }
  .how-to-play-btn-container > .btn, .the-board-btn-container > .btn {
    width: clamp(270px, 30%, 38%);
  }

  /* add-player page */
  .title-wrapper > .title {
    font-size: clamp(3vw, 3.6vw, 3.8vw);
  }

  .title-container > .caption-wrapper > .caption {
    font-weight: clamp(2rem, 2.2rem, 3vw);
  }
  .add-player-btn.add-player-btn {
    width: 100px;
  }

  .add-player-title, .game-range-title {
    font-size: clamp(1.1rem, 1.8vw, 1.3rem);
  }

  .add-player-title {
    margin-top: 40px;
  }

  .game-range-caption {
    font-size: clamp(1.1rem, 1.8vw, 1.3rem);
  }

  .range-container {
    font-size: clamp(1.1rem, 1.6vw, 1.2rem);
  }

  .play-page-done-btns-container{
    bottom: 120px;
    width: clamp(250px, 4vw, 300px);
  }

  .add-player-start-btn, .back-to-main-btn {
    width: 100%;
  } 

  
}